@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --font-family: "IBM Plex Sans", sans-serif;
  --primary-color: rgb(102, 226, 220); /* Aqua */
  --accent-color: rgb(250, 116, 83); /* Coral */
  --secondary-color: rgb(255, 185, 100); /* Sunset */
  --base-variants: rgb(25, 24, 38); /* Dark Text / Dark BG */

  --pattern-responsive-width: calc(
    266px + (312 - 266) * ((100vw - 768px) / (1440 - 768))
  );
  --pattern-responsive-height: calc(
    400px + (468 - 400) * ((100vw - 768px) / (1440 - 768))
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: var(--font-family);
}

/* Common design */
h1 {
  font-size: clamp(64px, 3.5vw, 88px);
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -1px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}
.body1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}
.body2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.btn1 {
  border-radius: 12px;
  background: rgba(25, 24, 38, 1);
}

.hero {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.oval {
  position: absolute;
  border-radius: 100%;
  width: 384px;
  height: 384px;
  filter: blur(135px);
  z-index: -11;
}

.oval-1 {
  top: -112px;
  left: -146px;
  background: rgba(255, 146, 1, 1);
  opacity: 0.15;
}

.oval-2 {
  top: 100px;
  right: 156px;
  background: rgba(64, 255, 246, 1);
  opacity: 0.28;
}
.oval-3 {
  top: 371px;
  right: 156px;
  background: rgba(255, 146, 1, 1);
  opacity: 0.15;
}

.hero-container {
  max-width: 1275px;
  margin: 0 auto;
  padding: 0 30px;
}

.hero-pattern {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -65px);
  z-index: -1;
}

.hero-pattern img {
  width: var(--pattern-responsive-width);
  height: var(--pattern-responsive-height);
}

.logo {
  margin-bottom: 127px;
  margin-top: 61px;
}
.hero-content {
  width: 70%;
  z-index: 1;
  padding-bottom: 321px;
}

/* Premium EQ */
.premium-eq {
  position: relative;
  min-height: 100vh;
  margin-bottom: 202px;
}

.oval-premium {
  bottom: 0;
  right: 0;
  background: rgba(255, 146, 1, 1);
  position: absolute;
  border-radius: 100%;
  width: 384px;
  height: 384px;
  opacity: 0.15;
  z-index: 1;
  filter: blur(135px);
}

.premium-eq-container {
  max-width: 1275px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}
.premium-eq-bg {
  height: 600px;
  background: var(--base-variants);
  color: white;
  position: relative;
  z-index: 2;
  border-radius: 12px;
}

.illustration {
  width: 312px;
  height: 642px;
  position: absolute;
  left: 102px;
  object-fit: contain;
  top: 0;
  transform: translateY(-213px);
  z-index: 3;
}
.premium-eq-pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  left: clamp(40px, 23.3vw, 336px);
}

.premium-eq-content {
  position: absolute;
  right: 95px;
  bottom: 0;
  border-radius: 12px;
  background: var(--accent-color);
  transform: translateY(115px);
  width: clamp(399px, calc(399px + 6.9vw), 446px);
  padding: 58px 59px 48px 54px;
  z-index: 1000;
}

.price {
  display: flex;
  align-items: center;
  gap: 24px;
}
.price h1 {
  font-size: 65px;
  font-weight: 700;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  border-radius: 12px;
}
.btn-ios {
  background: var(--base-variants);
  color: white;
  transition: all 0.5s ease;
}
.btn-android {
  background: #fff;
  color: black;
  transition: all 0.4s ease;
}
.btn-ios:hover {
  background: var(--primary-color);
}
.btn-android:hover {
  background: var(--secondary-color);
}

/* Start Footer */
.footer {
  max-width: 1275px;
  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 50px;
}
.footer-wrap {
  display: grid;
  grid-template-areas: "logo info info social";
}

.footer-logo {
  grid-area: logo;
}
.footer-info {
  grid-area: info;
  max-width: 366px;
}
.social-icon {
  grid-area: social;
  justify-self: flex-end;
  align-self: center;
  display: flex;
  gap: 15px;
}
.social-icon i {
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
}
.social-icon i:hover {
  color: var(--accent-color);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  h1 {
    font-size: clamp(40px, 6vw, 64px);
    line-height: clamp(48px, 4vw, 64px);
    letter-spacing: -0.73px;
  }
  .body1 {
    font-size: 18px;
    line-height: 28px;
  }
  .oval-1 {
    top: -112px;
    left: -254px;
  }
  .oval-2 {
    top: 41px;
    right: 39px;
  }
  .oval-3 {
    right: 39px;
    top: 312px;
  }
  .logo {
    margin-bottom: 64px;
    margin-top: 32px;
  }
  .hero-content {
    max-width: 520px;
  }
  .hero-pattern img {
    width: 266px;
    height: 400px;
  }
  .hero-pattern img {
    width: clamp(150px, 35vw, 266px);
    height: auto;
  }

  .premium-eq-container {
    padding: 0 clamp(5px, calc(-24.58px + 7.888vw), 36px);
  }

  .premium-eq-content {
    width: clamp(350px, calc(303.24px + 12.4682vw), 399px);
    right: clamp(0px, calc(-49.48px + 13.99vw), 58px);
    padding: 48px;
    transform: translateY(96px);
  }
  .premium-eq-pattern {
    width: 280px;
    height: 420px;
  }
  .illustration {
    width: 270.21px;
    height: 556px;
    transform: translateY(-138px);
    left: clamp(30px, calc(-2.44px + 8.6514vw), 64px);
  }

  /* footer */
  .footer-wrap {
    grid-template-areas:
      "logo logo social"
      "info info social";
  }
  .footer-info {
    margin-top: 32px;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    letter-spacing: -0.45px;
  }
  .body1 {
    font-size: 16px;
    line-height: 26px;
  }
  .oval {
    width: 281.4px;
    height: 281.4px;
  }
  .oval-1 {
    display: none;
  }
  .oval-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .oval-2 {
    right: -159px;
    top: -104px;
    position: absolute;
  }
  .oval-3 {
    right: -159px;
    top: 94px;
    position: absolute;
  }

  .hero-container {
    padding: 0 24px;
  }

  .hero-content {
    width: 100%;
  }

  .hero-pattern img {
    display: none;
  }

  .premium-eq-container {
    padding: 0;
    width: 100%;
  }
  .premium-eq-content {
    width: 100%;
    right: 0;
    transform: translateY(300px);
    margin-bottom: 160px;
  }
  .illustration {
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 208.97px;
    height: 430px;
  }
  .premium-eq-pattern {
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 420px;
  }

  /* Footer */
  .footer-wrap {
    grid-template-areas:
      "logo"
      "info"
      "social";
  }
  .social-icon {
    justify-self: unset;
    margin-top: 64px;
  }
}
